
#homet { 
    font-family: 'Zen Kurenaido', serif;
}
/* skip to main */
a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }

/* navigation bar */
nav{ 
    background: url("file:///c:/Users/pooki/Documents/Portfolio/images/light-green-texture-background.jpg"), #cbf8b7;
    height: 100%;
    border-bottom: 2px solid rgb(156, 160, 156);
    border-right: 1px solid rgb(156, 160, 156); 
    border-left: 1px solid rgb(156, 160, 156);
    border-radius: 1rem;
}

#links{ 
    display: inline-flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    flex-flow: row wrap;
    justify-content: center;
}

#links a{ 
    text-align: center;
    font-family: 'Zen Kurenaido', serif;
    font-size: 20px;
    padding: 16px 8px;
    text-decoration: none;
}

#links a:hover{
    font-weight: bold;
}

#links a.focus{ 
    border: 2px dashed rgb(67, 71, 66);
}

#homet{ 
    font-size: 2rem;
    font-family: 'Zen Kurenaido', serif;
    color:rgb(67, 71, 66);
    text-align: center;
    text-decoration: underline;
}

body{ 
    background: rgb(231, 235, 228);
    font-family: 'Zen Kurenaido', serif;
    font-size: 20px;
}

body p{ 
    background:rgb(207, 209, 204);
    color:rgb(55, 58, 55);
    margin: 5px;
    margin-bottom: 10%;
}

#current{ 
    font-weight: bolder;
    /* border: 2px dashed rgb(67, 71, 66);
    border-radius: 3px; */
}

#current:after {
    content: "}"
  }
  
#current:before {
    content: "{"
  }

/* home page text box */
#selection{ 
    background: rgb(231, 235, 228);
    font-size: 1.5rem;
    padding: 5%;
    margin-top: 10%;
    margin-bottom: 15%;
    text-align: center;
    font-weight: bolder;
    color:rgb(67, 71, 66);
    border: 2px dashed #65837B;
}

/* teacup images */

.homecups{
    display: grid;
    margin-bottom: 15%;
    grid-template-rows: auto auto auto;
    grid-gap: 15px;
    justify-content: space-evenly; 
    justify-items: center;
}

.homecups img { 
    height: 200px;
    width: 200px;
    /* padding: 15px; */
    max-width: 100%;
}

.homecups img:hover{
    border: 2px solid #2f3d39;;
}

#description{ 
    display: grid;

}

/* Types of Tea page */
.nine {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
    justify-content: center;
    margin-bottom: 20%;
  }

.nine > img{ 
    height: 1rem;
    max-width: 100%;
}

/* resources page */
h2{ 
    color:rgb(55, 58, 55);
    text-align: left;
    text-decoration: underline;
    font-size: 24px;
    margin: 5px;
}

.contact {
    border-radius: 3px;
    background-color: rgb(207, 209, 204);
    padding: 5px;
    margin-bottom: 25%;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 2%;  
    border: 1px solid rgb(67, 71, 66); 
    border-radius: 4px; 
    box-sizing: border-box;
    margin: 10px auto;
    resize: vertical;
}

input[type=submit] {
    background-color: #65837B;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
  input[type=submit]:hover {
    background-color: #2f3d39;
    text-decoration: underline;
}

/* same footer all pages */
footer{ 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2.1rem;
}

footer p{ 
    background: rgb(67, 71, 66);
    color: white;
    text-align: center; 
    width: 100%;
}

